{% extends 'base.html' %}

{% load static %}

{% block title %}
    All Posts
{% endblock  %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/single_post.css" %}">
    <link rel="stylesheet" href={% static "blog/posts.css" %}>
{% endblock  %} 

{% block content %}
    <section>
        <h2>My Collected Posts</h2>
        <ul>
            {% include "blog/includes/single_post.html" %}
            {% include "blog/includes/single_post.html" %}
            {% include "blog/includes/single_post.html" %}
            {% include "blog/includes/single_post.html" %}
            {% include "blog/includes/single_post.html" %}
            {% include "blog/includes/single_post.html" %}
        </ul>
{% endblock %}